[submodule "JarAnalyzer"]
	path = JarAnalyzer
	url = https://github.com/ameyaKetkar/JarAnalyzer.git
[submodule "Models"]
	path = Models
	url = https://github.com/ameyaKetkar/Models.git
[submodule "RefactoringMiner"]
	path = RefactoringMiner
	url = https://github.com/ChangeType/RefactoringMiner.git
[submodule "gumtree"]
	path = gumtree
	url = https://github.com/ameyaKetkar/gumtree.git
[submodule "MigrationMiner"]
	path = MigrationMiner
	url = https://github.com/ameyaKetkar/MigrationMiner.git
